:root {
  --color-deep-teal: #142f32;
  --color-light-green: #e3ffcc;
  --color-dark-gray: #292830;
  --color-blue-gray: #777c90;
}

/* Fonts */
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf") format(truetype);
  font-weight: normal; /* For variable font */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Bold.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-SemiBold.ttf") format(truetype);
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Medium.ttf") format(truetype);
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Regular.ttf") format(truetype);
  font-weight: normal; /* Regular */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-dark-gray);
}

h1 {
  font-weight: bold; /* Using the Bold version */
}

p {
  font-weight: normal; /* Using the Regular version */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav ul.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 50%;
}

div.auth-buttons {
}

/* Main sections */
main {
  width: 100%;
}

main section.hero {
  width: 70%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

main section.hero h1 {
  font-size: 3rem;
}

main section.hero h1 span {
  color: var(--color-deep-teal);
}

main section.hero p {
}

main section.hero div.hero-buttons {
}

main section.hero div.hero-buttons button {
  margin: 0 1rem;
}

/*  */

div.review-rate div.stars img {
  height: 1rem;
}

div.review-rate span.rating-score {
}

div.review-rate span.rating-score {
  font-weight: bold;
}

div.review-rate p span {
  font-weight: bold;
  border-bottom-style: dotted;
}