:root {
  --color-deep-teal: #142f32;
  --color-light-green: #e3ffcc;
  --color-dark-gray: #292830;
  --color-blue-gray: #777c90;
  --light-gray: #f5f8f9;
}

/* Fonts */
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/Manrope-VariableFont_wght.ttf") format(truetype);
  font-weight: normal; /* For variable font */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Bold.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-SemiBold.ttf") format(truetype);
  font-weight: 600; /* SemiBold */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Medium.ttf") format(truetype);
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope/static/Manrope-Regular.ttf") format(truetype);
  font-weight: normal; /* Regular */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  background: none;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-dark-gray);
  background-color: var(--light-gray);
}

/* === */

.navbar-brand .logo img {
  height: 2.25rem;
}

.social-links img {
  height: 1.25rem;
}